.menu-users {
    width: 100%;
    height: 200px;
    background: #0082cc;
    padding: 35px 0; 
    text-align: center;
    
    img {
        width: 80px;
        border: 1px solid #fff;
        border-radius: 40px;
        margin-bottom: 10px;
        background: #ffffff;
    }

    .menu-username {
        color: #ffffff;
        font-size: 0.8em;
    }
}