page-findmatdetail {
    
    h3 {
        font-size: 0.9em;
        color:#999;
        padding: 0;
        margin: 20px 0 5px;
    }

    p {
        font-size: 14px;
        margin: 0;
        padding: 0 0 10px;
        text-align: justify;
        border-bottom: 1px solid #eee;
    }

    .footer-home-page {
        position: absolute;
        bottom: 0;
        padding: 12px 10px;
        width: 100%;
        border-top:1px solid #ccc;
        background: #f4f4f4;
        color: #999;
        text-align: center;
        
        span {
            font-size: 0.8em;
        }
    }

}
